header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 68px;
  background-color: #171717;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.lado-e{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-left: 10rem;
  height: 100%;
}

.lado-e img{
  width: 180px;
  height: 80px;
}

.svg{
  display: flex;
  justify-self: flex-end;  
}

.lado-e ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  list-style: none;
  font-size: 16px;
  height: 100%;
}


ul .dad{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: auto 8px;
}

ul .dad li{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.dropdown{
  position: relative;
  height: 100%;
}

.dropdown-menu{
  display: none;
  visibility: hidden;;
}

.dropdown-menu ul{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  background-color: #171717;
  padding-top: 12px;
  padding: 10px;
  border: 1px solid gold;
  z-index: 10000;
}

.dropdown-menu ul li{
  padding: 5px !important;
}

.dropdown:hover .dropdown-menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  visibility: visible;
  position: absolute;
  top: 100%;
  left: 0%;
}

.dropdown:hover .dropdown-menu ul li{
  background-color: inherit;
}

.li-drop{
  color: white !important;
  z-index: 12;
}

ul li{
  padding: 12px;
}

ul li:hover{
  background-color: #000;
}

ul li:hover a{
  color: blue;
  text-decoration: underline;
}

Link{
  text-decoration: none;
  color: inherit;
}

.lado-d{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
  font-family: "Open sans", sans-serif;
}

.btn{
  border-radius: 12px;
}

.bb{
  padding: 12px;
  border: blue 2px solid;
  background-color: #ffffff;
  color: #171717;
  transition: transform .2s ease-in-out
}

.bbb{
  padding: 12px;
  border: #ffffff 2px solid;
  background-color: blue;
  color: #ffffff;
  transition: transform .2s ease-in-out
}

.bb:hover,.bbb:hover{
  transform: scale(1.05);
}