.card-wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 70px;
    border-radius: 25px;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
}

.card-wrap img {
    height: auto;
    width: 700px;
}